In [3]:
import os
import pandas as pd

In [4]:
better = pd.read_csv('/Volumes/vosslabhpc/symposia/cpsy-25/data/demos/better_demos.csv')
better = better[['id', 'age', 'sex assigned at birth', 'edu']]
better['sex'] = better['sex assigned at birth']
better = better.drop(columns=['sex assigned at birth'])
#add b- to every id row
better['id'] = 'b-' + better['id'].astype(str)
better

           id  age  edu     sex
0    b-120001   73   22    Male
1    b-120002   69   16  Female
2    b-120003   69   16  Female
3    b-120004   69   17    Male
4    b-120005   66   14    Male
..        ...  ...  ...     ...
133  b-120083   66   11  Female
134  b-121006   73   16  Female
135  b-121040   75   18    Male
136  b-121059   68   14  Female
137  b-121065   70   17  Female

[138 rows x 4 columns]

In [5]:
extend = pd.read_csv('/Volumes/vosslabhpc/symposia/cpsy-25/data/demos/extend_demos.csv')
extend = extend[['EXTEND Study ID', 'Age at time of Screening', 'Years of Education', 'Sex assigned at birth']]
columns = {
    'EXTEND Study ID': 'id',
    'Age at time of Screening': 'age',
    'Years of Education': 'edu',
    'Sex assigned at birth': 'sex'
}

extend = extend.rename(columns=columns)
# remove if age is missing or NaN
extend = extend[extend.age.notna()]
extend = extend[extend.age != 0]
extend['age'] = extend['age'].astype(int)
extend['id'] = extend['id'].astype(int)

extend['id'] = extend['id'].astype(str)
#add e- to every id row
extend['id'] = 'e-' + extend['id']

#change edu to int and if edu is missing, set to mean
mean_edu = extend['edu'].mean()
extend['edu'] = extend['edu'].fillna(mean_edu)
extend['edu'] = extend['edu'].astype(int)

extend

         id  age  edu     sex
1    e-2002   73   14  Female
3    e-2004   61   13  Female
5    e-2006   65   14  Female
8    e-2009   56   17  Female
11   e-2012   59   12  Female
..      ...  ...  ...     ...
858  e-2859   74   21  Female
860  e-2861   58   18    Male
870  e-2871   66   14  Female
873  e-2874   69   16  Female
877  e-2878   59   16  Female

[217 rows x 4 columns]

In [6]:
pacr = pd.read_csv('/Volumes/vosslabhpc/symposia/cpsy-25/data/demos/pacr_demos.csv')
pacr = pacr[['PACR Study ID#:', 'Age at time of screening', 'Sex', 'Years of education']]
pacr = pacr.rename(columns={
    'PACR Study ID#:': 'id',
    'Age at time of screening': 'age',
    'Years of education': 'edu',
    'Sex': 'sex'
})
# remove if age is missing or NaN
pacr = pacr[pacr.age.notna()]
pacr = pacr[pacr.age != 0]
pacr['age'] = pacr['age'].astype(int)
pacr['id'] = pacr['id'].astype(int)
pacr['id'] = pacr['id'].astype(str)
#add p- to every id row
pacr['id'] = 'p-' + pacr['id']
#change edu to int and if edu is missing, set to mean
mean_edu = pacr['edu'].mean()
pacr['edu'] = pacr['edu'].fillna(mean_edu)
pacr['edu'] = pacr['edu'].astype(int)
pacr

        id  age     sex  edu
1      p-8   71  Female   14
2     p-41   65  Female   16
3     p-25   73    Male   25
4     p-12   67  Female   16
5      p-7   72  Female   13
..     ...  ...     ...  ...
101  p-202   76    Male   12
103  p-204   66  Female   18
104  p-206   65  Female   18
105  p-208   74    Male   16
106  p-209   68    Male   16

[68 rows x 4 columns]

In [7]:
# append all three dataframes
df = pd.concat([better, extend, pacr])
df = df.reset_index(drop=True)

df.to_csv('../../../../data/struc/demo.csv', index=False)